doctype html 
html 
 head 
  meta(charset="UTF-8")
  title this is pugjs page 
body 
 .container
  .row  
   .col-md-3 this is div
   .col-md-3 this is div
   .col-md-3 this is div threeeee
 script(src="http://localhost:35729/livereload.js")